:root{
    --black:#000000;
    --mid-gray:#444;
    --dark-gray:#1d1d1f;
    --selector-bg:#575757;
    --apple-icon-condensed-gray:#cccccb;
    --small-text-condensed-gray:#eaeaea;
    --large-text-condensed-gray:#f5f5f7;
    --medium-text-condensed-gray:#a1a1a6;
    --times-icon-gray:#999999;
    --white:#fdfdfd;
    --sky-blue:#0071e3;
    --light-sky-blue:#2997ff;
    --link:#2675c1;
    --navbar:#1d1d1fb8;
}

body{
    background-color:var(--black);
}

*{
    outline: none;
    text-decoration: none;
}

.lg-none{
    display: block;
}

.sm-block{
    display: none;
}

.wrapper{
    padding: 0 180px;
    max-width: 1500px;
    margin: auto;
}

/* Product bar styling start */
.product-bar{
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--black);
    z-index: 2;
}

.product-toggler-container{
    display: none;
}

.product-toggler{
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.line{
    height: 15px;
    width: 15px;
    border-top: 2px solid var(--apple-icon-condensed-gray);
}

.toggle-one{
    position: absolute;
    bottom: -7px;
    transition: all 300ms;
}

.toggle-two{
    position: absolute;
    bottom: -14px;
    transition: all 300ms;
}

.product-bar-items a{
    font: 12px;
    color: var(--apple-icon-condensed-gray);
    text-decoration: none;
    cursor: pointer;
}

.search-icon button{
    cursor: pointer;
    background-color: transparent;
    border: none; 
    padding: 0;
    margin: 0;
}

.product-bar-items a:hover{
    font: 12px;
    color: var(--white);
    text-decoration: none;
}

/* Product bar styling end */

/* fixed bar styling */

.fixed-bar{
    top:0;
    position: sticky;
    width: 100%;
    transition: all 2s;
    z-index: 5;
    background-color: var(--black);
    backdrop-filter: blur(8px);
}


.fixed-bar-content{
    display: flex;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.fixed-bar-controls{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fixed-bar-items{
    color: var(--medium-text-condensed-gray);
    margin-left: 20px;
    white-space: nowrap;
}

.fixed-bar-items .fa-angle-down{
    font-size:25px;   
}

.fixed-bar-items a{
    color: var(--apple-icon-condensed-gray);
}

.fixed-bar-items button{
    border-radius: 20px;
    border: none;
    background-color: var(--sky-blue);
    color: var(--white);
    padding: 5px 10px;
    cursor: pointer;
}

.brand{
    color: var(--apple-icon-condensed-gray);
    white-space: nowrap;
}
/* fixed bar styling end */

/* description bar style */
@keyframes slideTopToBottom {
    0%{
        top: -50px;
        display: none;
    }
    50%{
        display: none;
    }
    80%{
        display: none;
    }
    100%{
       display: block;
       top: 0px;
    }
}

.desc-bar{
    position: relative;
    padding: 15px 20px;
    text-align: center;
    background-color: var(--dark-gray);
    animation: slideTopToBottom 500ms linear;
    transition: all 2s;
    z-index: 1;
}

.desc-bar .fa{
    color: var(--link);
}

.desc{
    color: var(--small-text-condensed-gray);
}

.desc-link{
    padding: 0 1px;
    color: var(--small-text-condensed-gray);
    transition: all 2s;
}
/* description bar style end  */

/* Media query */

@media only screen and (max-width:1024px) {
    .wrapper{
        padding: 0 20px;
    }

    .product-bar-items{
        display: none;
    }

    .brand{
        display: block;
    }

    .shop-bag{
        display: block;
    }

    .lg-none{
        display: none;
    }

    .sm-block{
        display: block;
    }
}

@media screen and (max-width:550px) {
    .desc-bar{
        display: none;
    }
}

/* First video section styling */

@keyframes bannerOverlaySlider {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(100%);
    }
}

.banner-text{
    text-align: center;
    color: var(--large-text-condensed-gray);
    margin: 30px;
    height: 120px;
    overflow: hidden;
    position: relative;
}

.banner-text-overlay{
    position: absolute;
    top: 0;
    height: 120px;
    width: 100%;
    background-color: var(--black);
    animation: bannerOverlaySlider 3500ms forwards linear;
    animation-delay: 2s;
} 

.banner-small-text{
    margin: 10px;
}

.banner-large-text{
    margin: 5px;
    font-size: 80px;
}

@keyframes videoPositioner {
    0%{
        transform: translateY(-70px);
    }
    25%{
        transform: translateY(-70px);
    }
    50%{
        transform: translateY(-70px);
    }
    100%{
        transform: translateY(0px);
    }
}

.video-container{
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    top: -20px;
    animation: videoPositioner 5s forwards;
    transition: all 5s;
}

.video-element{
    top: -30px;
    width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-35%);
}

.banner-below-text{
    color: var(--medium-text-condensed-gray);
    width: 600px;
    max-width: 100%;
    margin: auto;
    text-align: center;
    font-size: 22px;
    line-height: 1.4;
}

.banner-below-text-desc{
    margin:50px 20px;
}

.banner-below-text-offer{
    margin: 20px;
}

.watch-text-film{
    margin: 40px 20px;
}

.watch-text-film a{
    color: var(--white);
}

.watch-text-film a img{
    position: relative;
    top: 7px;
}

@media screen and (max-width:1024px) {
    .banner-text{
        margin: 40px;
    }

    .banner-small-text{
        font-size: 21px;
    }
    
    .banner-large-text{
        font-size: 80px;
    }

    .video-container{
        top: 0px;
    }
}

@media screen and (max-width:768px) {
    .banner-small-text{
        margin: 10px;
    }
    
    .banner-large-text{
        font-size: 70px;
    }

    .video-container{
        top: 0px;
    }

    .video-element{
        top: -20px;
    }

    .banner-below-text{
        text-align: left;
    }
}

@media screen and (max-width:550px) {

    .banner-text{
        height: 90px;
        margin-bottom: 0;
    }

    .banner-small-text{
        font-size: 16px;
    }
    
    .banner-large-text{
        font-size: 50px;
        margin: 0;
    }

    .video-container{
        top: 0px;
    }

    .video-element{
        top: 0px;
    }
}

@media screen and (max-width:414px) {

    .banner-text{
        height: 90px;
        margin-bottom: 0;
    }

    .banner-small-text{
        font-size: 15px;
    }
    
    .banner-large-text{
        font-size: 40px;
        margin: 0;
    }

    .video-container{
        top: 0px;
    }

    .video-element{
        top: 0px;
    }
}


@media screen and (max-width:360px) {

    .banner-text{
        height: 80px;
        margin-bottom: 0;
    }

    .banner-small-text{
        font-size: 14px;
    }
    
    .banner-large-text{
        font-size: 40px;
        margin: 0;
    }

    .video-container{
        top: 0px;
    }

    .video-element{
        top: 0px;
    }
}

@media screen and (max-width:320px) {

    .banner-text{
        height: 70px;
        margin-top: 20px;
    }

    .banner-small-text{
        font-size: 10px;
    }
    
    .banner-large-text{
        font-size: 30px;
        margin: 0;
    }

    .video-container{
        top: 0px;
    }

    .video-element{
        top: 0px;
    }
}

/* First video section styling end */

/* Bezel section styles */

.bezel-section-wrapper{
    margin-top: 200px;
}

.bezel-section-text{
    position: relative;
    color: var(--white);
    margin:50px 20px 50px 20px;
    text-align:center;
}

.bezel-section-img{
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width:768px) {
    .bezel-section-img img{
        width: 60%;
    }
}

@media screen and (max-width:540px) {
    .bezel-section-img img{
        width: 100%;
        position: relative;
        left: 10%;
    }

    .bezel-section-text{
       font-size: 35px;
       text-align: left;
    }

    .bezel-section-wrapper{
        margin-top: 100px;
    }
}

/* Bezel section styles end */

/* Super retina section styles */

.super-retina-section{
    margin-top: 200px;
}

.super-retina-container{
    display: flex;
    justify-content: center;
}

.retina-text{
    color: var(--white);
}

.super-retina-img{
    margin:50px 100px;
}


.super-retina-img video{
    height: 650px
}

.super-retina-specs{
    font-size: 16px;
    color: var(--medium-text-condensed-gray);
    line-height: 1.4;
    position: relative;
    top: 500px;
}

.super-retina-specs-below-container{
    display: flex;
    justify-content: center;
    display: none;
}

.super-retina-specs-below{
    font-size: 16px;
    color: var(--medium-text-condensed-gray);
    line-height: 1.4;
    position: relative;
    margin:50px 20px;
}

.super-retina-specs-one{
    text-align: right;
}

.super-retina-specs-two{
    text-align: left;
}

.retina-btn-container{
    display: flex;
    justify-content: center;
}

.retina-btn{
    font-size: 18px;
    padding: 7px 10px;
    color: var(--white);
    background-color: transparent;
    border: 1px solid var(--white);
    border-radius: 20px;
    cursor: pointer;
}

.retina-btn:hover{
    background-color: var(--white);
    color: var(--dark-gray);
}

@media screen and (max-width:930px) {
    .super-retina-specs{
        display: none;
    }

    .super-retina-img{
        margin:50px 0;
    }

    .super-retina-specs-below-container{
        display: flex;
    }
}

@media screen and (max-width:450px){
    .super-retina-img video{
        height:100%;
    }

    .super-retina-section{
        margin-top: 100px;
    }
}
/* Super retina section styles end  */


/* Ceramic glass section style */

.ceramic-glass-container{
    margin: 200px 0;
}

.ceramic-glass-heading{
    color: var(--white);
    text-align: center;
    margin: 100px 0;
}

.ceramic-glass-img{
    margin: 40px;
    overflow: hidden;
}

.ceramic-glass-img img{
    width: 100%;
}

.gradient-text{
    color: transparent;
    background-image: linear-gradient(to right, #005e7f, #61b6cd);
    -webkit-background-clip: text;
    background-clip: text;
}

.ceramic-glass-text{
    text-align: center;
    font-size: 32px;
    margin: 40px 0;
}

.ceramic-glass-btn{
    display: flex;
    justify-content: center;   
}

.ceramic-glass-btn button{
    color: var(--apple-icon-condensed-gray);
    font-size: 18px;   
    padding: 7px 15px;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid; 
    border-right-color: #61b6cd;
    border-top-color: #61b6cd;
    border-bottom-color: #005e7f;
    border-left-color: #005e7f;
    border-radius: 25px;   
}

.ceramic-glass-btn button:hover{
    background-color: var(--medium-text-condensed-gray);
    color: var(--dark-gray);
    border: 2px solid var(--medium-text-condensed-gray);
}

.ceramic-glass-toggle-lg{
    display: block;
}

.ceramic-glass-toggle-sm{
    display: none;
}

.ceramic-glass-toggle-sm{
    margin: 20px;
}

.ceramic-glass-toggle-sm-text-container{
    position: relative;
    top: -180px;
}

.ceramic-glass-heading-sm{
    font-size: 35px;
    color: var(--white);
}

.ceramic-glass-text-sm{
    font-size: 30px;
    line-height:1.25;
    margin-top: 25px;
}

.ceramic-glass-btn-sm button{
    color: var(--apple-icon-condensed-gray);
    font-size: 18px;   
    padding: 7px 15px;
    cursor: pointer;
    border: 2px solid; 
    background-color: transparent;
    border-right-color: #61b6cd;
    border-top-color: #61b6cd;
    border-bottom-color: #005e7f;
    border-left-color: #005e7f;
    border-radius: 25px;
    margin: 20px 0;
}

.ceramic-glass-btn-sm button:hover{
    background-color: var(--medium-text-condensed-gray);
    color: var(--dark-gray);
    border: 2px solid var(--medium-text-condensed-gray);
}

@media screen and (max-width:700px) {
    .ceramic-glass-toggle-sm{
        display: block;
    }
    
    .ceramic-glass-toggle-lg{
        display: none;
    } 
    
    .ceramic-glass-img{
        margin:0 0 0 20px;
    }

    .ceramic-glass-container{
        margin: 100px 0 0 0;
    }
}

/* Ceramic glass section end */

/* Surgical grade section style */

.surgical-grade-wrapper{
    position: relative;
}

.surgical-grade-container{
    position: relative;
    height: 1200px;
    width: 100%;
}

.surgical-grade-img{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.surgical-grade-img img{
    height: 1200px;
}

.surgical-grade-heading{
    color: var(--white);
    transform: rotate(90deg);
}

.surgical-grade-heading-left{
    position: absolute;
    top: 150px;
    left: 20%;
}

.surgical-grade-heading-right{
    position: absolute;
    bottom: 150px;
    right: 20%;
}

@media screen and (max-width:1024px){
    .surgical-grade-heading-left{
        left: 10%;
    }
    
    .surgical-grade-heading-right{
        right: 10%;
    }
}

@media screen and (max-width:768px){
    .surgical-grade-heading{
        font-size: 40px;
    }

    .surgical-grade-heading-left{
        left: 5%;
    }
    
    .surgical-grade-heading-right{
        right: 5%;
    }
}

@media screen and (max-width:650px){
    .surgical-grade-heading{
        font-size: 40px;
    }

    .surgical-grade-heading-left{
        left: -40px;
    }
    
    .surgical-grade-heading-right{
        right:-40px;
    }

    .surgical-grade-img img{
        height: 800px;
    }

    .surgical-grade-container{
        height: 800px;
    }
}


@media screen and (max-width:360px){
    .surgical-grade-heading{
        font-size: 40px;
    }

    .surgical-grade-heading-left{
        left: -70px;
    }
    
    .surgical-grade-heading-right{
        right:-70px;
    }

    .surgical-grade-img img{
        height: 800px;
    }

    .surgical-grade-container{
        height: 800px;
    }
}

/* Surgical grade section style end */

/* Water resistance section style */

.water-resistance-container{
    overflow: hidden;
    margin: 300px 0;
    position: relative;
}

.water-resistance-img img{
    width: 80%;
    position: relative;
    left: 20%;
}

.water-resistance-text-container{
    position: absolute;
    width: 290px;
    line-height: 1.2;
    top: 60%;
    left:15%;
}

.water-resistance-heading{
    color: var(--white);
}

.water-resistance-text{
    color: var(--medium-text-condensed-gray);
    margin-top: 20px;
}

@media screen and (max-width:550px) {
    .water-resistance-container{
        margin: 200px 0 100px 0;
    }
    .water-resistance-text-container{
        position: absolute;
        width: 180px;
        top: 40%;
        left:10%;
    }

    .water-resistance-heading{
        font-size: 30px;
    }
    
    .water-resistance-text{
       font-size: 18px;
    }
}

@media screen and (max-width:450px) {
    .water-resistance-container{
        margin: 200px 0 100px 0;
    }
    .water-resistance-text-container{
        position: absolute;
        width: 160px;
        top: 40%;
        left:10%;
    }

    .water-resistance-heading{
        font-size: 25px;
    }
    
    .water-resistance-text{
       font-size: 14px;
    }
}

@media screen and (max-width:360px) {
    .water-resistance-container{
        margin: 200px 0 100px 0;
    }
    .water-resistance-text-container{
        position: absolute;
        width: 140px;
        top: 40%;
        left:10%;
    }

    .water-resistance-heading{
        font-size: 20px;
    }
    
    .water-resistance-text{
       font-size: 14px;
    }
}

/* Water resistance section style end */

/* Finnish touches section style */

.finnish-touches-wrapper{
    margin: 50px 0 100px 0;
}

.finnish-touches-video{
    display: flex;
    justify-content: center;
}

.finnish-touches-video video{
    height: 100%;
    width: 80%;
}

.finnish-touches-heading{
    color: var(--white);
    text-align: center;
    margin: 20px;
}

.finnish-touches-text{
    color: var(--medium-text-condensed-gray);
    text-align: center;
    margin: 20px;
}

@media screen and (max-width:550px) {
    .finnish-touches-heading{
        font-size: 35px;
        text-align: left;
    }
    
    .finnish-touches-text{
        font-size: 18px;
        text-align: left;
    }
}

@media screen and (max-width:360px) {
    .finnish-touches-heading{
        font-size: 30px;
    }
    
    .finnish-touches-text{
        font-size: 16px;
    }
}

/* Finnish touches section style end */

/* Night recording video style */

.night-recording-wrapper{
    margin: 300px 0 200px 0;
}

.night-recording-container{}

.night-recording-video{
   position: relative;
}

.night-recording-video video{
    width: 98vw;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    top: 0;
}

.video-overlay{
    width: 98vw;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 0;
    box-shadow: 4px 2px 48px 32px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: 4px 2px 48px 32px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: 4px 2px 48px 32px rgba(0,0,0,0.75) inset;
}

.night-recording-text-container{
    margin: 50px;
}

.night-recording-heading{
    color: var(--white);
    text-align: center;
}

.night-recording-desc-text-container{
    display: flex;
    justify-content: center;
}

.night-recording-desc-text{
    color: var(--medium-text-condensed-gray);
    width: 50%;
    text-align: center;
    line-height: 1.2;
    margin: 100px 0 100px 0;
}

.night-cam-spec-container{
    display: flex;
    justify-content: center;
}

.night-cam-spec-container hr{
    border: 1px solid;
    border-image: linear-gradient(#005e7f, #61b6cd) 1;
}

.night-cam-spec{
    width: 50%;
    text-align: center;
    font-size: 45px;
}   

@media screen and (max-width:768px) {
    .night-cam-spec{
        width: 60%;
        text-align: center;
        font-size: 40px;
    }
}

@media screen and (max-width:650px) {
    .night-recording-desc-text{
        color: var(--medium-text-condensed-gray);
        width: 100%;
        text-align: left;
        line-height: 1.2;
        margin: 100px 0;
        margin: 100px 20px 100px 20px;
    }
    .night-cam-spec{
        width: 100%;
        text-align: left;
        font-size: 40px;
        margin:0 20px;
    }
}


/* Night recording video style end */